<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="300 seconds">
	<property name="LOG_PATH" value="logs" />
	<property name="LOG_ARCHIVE" value="${LOG_PATH}/archive" />

	<timestamp key="timestamp-by-second" datePattern="yyyy-MM-dd HH:mm:ss.SSS" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/logfile.log</file>
		<encoder>
			<pattern>%msg%n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>
		</encoder>
	</appender>

	<appender name="ROLLINGLOGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/rollingfile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ARCHIVE}/logfile-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>1KB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ROLLINGLOGFILE" />
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
